.debug{
  background-color: rgba(126, 230, 8, 0.63);
  min-height: 60px;
  border: 1px solid rgb(255, 123, 0);
}


/* inizio nav */

#mc-logotipo{
  width: 200px;
}

#mc-log-in{
  padding-top: 15px;
}

#mc-ham{
  font-size: 30px;
  padding-top: 15px;
}

.mc-navbar{
  background-color: #FFFFFF;
  height: 65px;
  position: fixed;
  z-index: 999;
  top: 0px;
}

/* inizio jumbotron */

.mc-jumbotron{
  background-image: url(img/bg-banner-home.jpg);
  background-size: cover;
  min-height: 500px;
  margin-top: 65px;
  padding-top: 80px;
  
}

/* jumbo text-box */

.mc-box-jumbo-tit{
  width: 549px;
  margin-bottom: 20px;
  color: white;
}

.mc-box-jumbo-par{
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 20px;
}

.frame-jumbo-sign{
  background-color: white;
  border-radius: 10px;
  height: 366px;
  margin-bottom: 80px;
}

#mc-terms{
  text-decoration: underline;
}

.mc-box-jumbo-sign{
    
}

/* customer row */

#customers{
  background-color: #f3f5f9;
}

/* deploy */

.mc-paragrafo-dep{
  font-size: 18px;
}

#deploy-list{
  border-left: solid 1px gray;
  padding-left: 10px;
}

.mc-dep-item{
  margin-bottom: 15px;
}


/* mc-paddings */

.mc-pad-20{
  padding-top: 20px;
}

.mc-pad-10{
  padding-top: 10px;
}

.mc-pad-lr{
  padding-right: 40px;
  padding-left: 40px;
}

.mc-pad-l-60{
  padding-left: 60px;
}


/* mc-margins */

.mc-double-mar-20{
  margin-top: 20px;
  margin-bottom: 20px;
}

.mc-double-mar-10{
  margin-top: 10px;
  margin-bottom: 10px;
}

/* mc-list */

.mc-reset-list{
  list-style: none;
}
.mc-reset-item{
  margin-left: 15px;
  display: inline-block;
}

.mc-reset-link{
  color: black;
}

/* text styles */

.mc-titolo{
  font-size: 50px;
}

.mc-paragrafo{
  font-size: 23px;
}

.mc-gray-txt{
  color: gray;
}

.mc-text-blu{
  color: blue;
  font-size: 15px;
}

.mc-glyphicon-size{
  font-size: 11px;
}


